/*serviços*/
.container-services {
    display: flex;
    height: auto;
    min-height: 660px;
    flex-wrap: wrap;
}

.left-half-services {
    width: 40%;
    background-image: url(./images/fachada.jpeg);
    background-size: cover;
    background-position: 28% center;
    position: relative;
    background-repeat: no-repeat;
    max-width: 100%;
    height: auto;
}

.text-overlay-services {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 40%;
    font-size: 25px;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    text-align: center;
    font-family: "Open Sans", sans-serif;
    word-wrap: break-word;
    overflow-wrap: break-word;
    white-space: normal;
}

.right-half-services {
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    /* background-color: #fff; */
    height: auto;
    font-family: "Poppins", sans-serif;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 24px;
    color: #333;
}

.card-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
    width: 100%;
    height: auto;
}

.card-services {
    background-color: #ededed;
    border-radius: 10px;
    /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); */
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    padding: 20px;
}

.card-services img {
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

.card-content-services {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.card-header-services {
    display: flex;
    align-items: center;
}

.card-services h3 {
    font-size: 22px;
    color: #333;
    margin: 0;
}

.card-services p {
    margin: 10px 0;
    font-size: 16px;
    line-height: 1.5;
    color: #555;
}

.card-services:hover {
    transform: scale(1.05);
    /* box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); */
}

.card-header-services {
    display: flex;
    align-items: center;
}

.card-header-services img {
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

.whatsapp-button-services {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    background-color: #25D366;
    color: white;
    text-align: center;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    position: absolute;
    bottom: -180px;
    left: 50%;
    transform: translateX(-50%);
}

@media (max-width: 768px) {
    .container-services {
        flex-direction: column;
        width: 100%;
        min-height: auto;
        padding-bottom: 5rem;
    }

    .left-half-services {
        width: 100%;
        height: 300px;

    }

    .right-half-services {
        width: 100%;
    }

    .card-grid {
        grid-template-columns: 1fr;
    }

    .whatsapp-button {
        bottom: -120px;
    }
}

@media (max-width: 480px) {
    .container-services {
        flex-direction: column;
        width: 100%;
    }

    .left-half-services {
        height: 200px;
    }

    .text-overlay-services {
        font-size: 18px;
        padding: 10px;
    }

    .right-half-services {
        padding: 10px;
    }

    .card-services {
        padding: 15px;
    }

    .card-services h3 {
        font-size: 18px;
    }

    .card-services p {
        font-size: 14px;
    }

    .whatsapp-button {
        bottom: -100px;
    }
}