/* barra de scroll */
::-webkit-scrollbar {
    width: .8rem;
}

::-webkit-scrollbar-track {
    background: white;
}

::-webkit-scrollbar-thumb {
    background: silver;
}

::-webkit-scrollbar-thumb:hover {
    background: gray;
}

/* paleta de cores */
:root {
    --wa-color: rgb(37, 211, 102);
    --bg-dark-transparent: rgba(0, 0, 0, .8);
    --contap-logo: rgb(205, 155, 50);
    --black-color: black;
    --white-color: whitesmoke;
    --bg-white: rgb(237, 237, 237);
}

/* configurações gerais */
/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    } */

html,
body {
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-family: sans-serif;
    scroll-behavior: smooth;
    box-sizing: border-box;
}

/* responsividade */
@media(max-width: 800px) {

    html,
    body {
        font-size: 14px;
    }
}

@media(max-width: 600px) {

    html,
    body {
        font-size: 12px;
    }
}

/* whatsapp botão fixo */
.wa-icon {
    background-color: var(--wa-color);
    color: var(--white-color);
    font-size: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    border-radius: 25%;
    width: 4rem;
    height: 4rem;
    z-index: 1;
    transition: .3s;
}

.wa-icon:hover {
    transform: translateY(-.8rem);
}

/* responsividade */
@media(max-width: 600px) {
    .wa-icon {
        font-size: 4rem;
        width: 5rem;
        height: 5rem;
    }
}

/* cabeçalho */
.hero {
    background-image: url(./images/pinheiros.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.hero-bgcolor {
    background-color: var(--bg-dark-transparent);
}

.hero header {
    height: 5.5rem;
    background-color: var(--bg-dark-transparent);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.hero header img {
    height: 100%;
}

.hero-menu {
    display: flex;
    align-items: center;
    font-size: 1.2rem;
    height: 100%;
}

.hero-menu a {
    color: var(--white-color);
    text-decoration: none;
    height: 100%;
    padding: 0 1rem;
    display: flex;
    align-items: center;
}

.hero-menu a:hover {
    background-color: var(--bg-dark-transparent);
    border-bottom: .1rem solid var(--white-color);
    margin-bottom: -.1rem;
}

.hero section {
    margin: 0 auto;
    padding-bottom: 2rem;
    color: var(--white-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.hero section a {
    text-decoration: none;
}

.hero-text {
    width: 90%;
    max-width: 750px;
}

.hero-text h1 {
    font-size: 2.8rem;
}

.hero-text p {
    font-size: 1.5rem;
}

/* responsividade */
@media(max-width: 600px) {
    .hero-menu {
        font-size: 1.5rem;
    }
}

/* botão whatsapp dourado */
.wa-btn {
    background-color: var(--contap-logo);
    color: var(--white-color);
    width: fit-content;
    padding: 1.2rem;
    border-radius: .8rem;
    font-size: 1rem;
    display: flex;
    align-items: center;
    gap: .8rem;
    transition: .3s;
}

.wa-btn i {
    font-size: 1.5rem;
}

.wa-btn:hover {
    padding: 1.2rem 1.8rem;
}

/* responsividade */
@media(max-width: 600px) {
    .wa-btn {
        font-size: 1.2rem;
    }
}

/* seta com animação */
.arrow {
    margin-top: .8rem;
    font-size: 3rem;
    color: var(--white-color);
    z-index: 1;
    animation: bounce 2s infinite;
}

@keyframes bounce {

    0%,
    100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(1.2rem);
    }
}

/* faixa que separa conteúdo */
.strip-container {
    background-color: var(--black-color);
    padding: 1.2rem 0;
}

.strip {
    width: 90%;
    max-width: 750px;
    margin: 0 auto;
}

.strip a {
    text-decoration: none;
}

.strip-text {
    margin: 0 auto;
    color: var(--white-color);
    font-size: 1.5rem;
    text-align: center;
}

.strip-elements {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 4.2rem;
}

.strip-elements img {
    height: 100%;
}

/* responsividade */
@media(max-width: 400px) {
    .strip-elements img {
        height: 70%;
    }
}

/* sobre nós */
.about-us {
    background-color: var(--bg-white);
}

.about-us-content {
    width: 90%;
    max-width: 750px;
    margin: 0 auto;
    padding: 5rem 0 6rem;
    display: flex;
    justify-content: center;
}

.about-us-img {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: .8rem;
}

.about-us-img img {
    width: 75%;
    border-radius: 50%;
    transition: .3s;
}

.about-us-img img:hover {
    transform: scale(1.05);
}

.about-us-text {
    width: 50%;
    font-size: 1.2rem;
}

.about-us-text h2 {
    font-size: 2.5rem;
    text-align: center;
}

.about-us-text ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: .8rem;
}

.about-us-text i {
    color: var(--contap-logo);
    margin-right: .8rem;
}

/* responsividade */
@media(max-width: 600px) {
    .about-us-content {
        flex-direction: column;
    }

    .about-us-img {
        width: 100%;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .about-us-img img {
        width: 30%;
    }

    .about-us-text {
        width: 100%;
    }
}

/* entre em contato */
.get-in-touch-content {
    width: 90%;
    max-width: 750px;
    margin: 0 auto;
    padding: 5rem 0 6rem;
    display: flex;
    justify-content: center;
    gap: .8rem;
}

.get-in-touch-img {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.get-in-touch-img img {
    width: 75%;
}

.get-in-touch-text {
    width: 50%;
    font-size: 1.2rem;
}

.get-in-touch-text h3 {
    font-size: 2.5rem;
    text-align: center;
}

.get-in-touch-text a {
    text-decoration: none;
}

.get-in-touch-text i {
    color: var(--white-color);
}

/* responsividade */
@media(max-width: 600px) {
    .get-in-touch-content {
        /* flex-direction: column-reverse; */
        flex-direction: column;
    }

    .get-in-touch-img {
        width: 100%;
    }

    .get-in-touch-img img {
        margin-bottom: -5rem;
    }

    .get-in-touch-text {
        width: 100%;
    }
}

/* rodapé */
.rodape {
    background-color: var(--black-color);
    color: var(--white-color);
    padding: 2rem 0;
    display: flex;
    justify-content: center;
    gap: .8rem;
}

.footer-logo {
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-logo img {
    width: 75%;
    max-width: 15rem;
}

.footer-content {
    width: 35%;
    margin-left: .8rem;
}

.linha {
    width: 2.5rem;
    height: .1rem;
    background-color: var(--contap-logo);
}

.redes-sociais {
    display: flex;
    align-items: center;
    gap: .8rem;
}

.redes-sociais a {
    color: var(--white-color);
    text-decoration: none;
}

.rede-social {
    border: .1rem solid var(--contap-logo);
    padding: .3rem;
    width: 1.2rem;
    height: 1.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contato {
    display: flex;
    align-items: center;
    margin-top: .8rem;
}

.contato i {
    font-size: 1rem;
    margin-right: .3rem;
    color: var(--contap-logo);
}

/* responsividade */
@media(max-width: 600px) {
    .rodape {
        flex-wrap: wrap;
    }

    .footer-logo {
        width: 60%;
    }

    .footer-logo img {
        width: 75%;
    }

    .footer-content {
        width: 40%;
    }

    .rede-social {
        width: 1.5rem;
        height: 1.5rem;
        font-size: 1.5rem;
    }
}

/* (in)visible */
.invisible {
    opacity: 0;
    transition: opacity 0.6s ease-in-out;
}

.invisible.visible {
    opacity: 1;
}